openapi: 3.2.0
info:
  version: 0.13.13
  title: Data Listing Salesforce API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: https://supaglue.com
  description: '#### Introduction


    Welcome to the Provider API documentation for Data Listing. You can use this API to list standard and custom objects to sync them from Supaglue to your database.


    :::info

    **NOTE**: To use the Data Listing API you need to use the Supaglue Managed Destination and select [Standard Objects](https://docs.supaglue.com/next/platform/objects/overview#configuration) to be synced.

    :::


    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)


    #### Base API URL

    ```

    https://api.supaglue.io/data/v2

    ```

    '
servers:
- url: https://api.supaglue.io/data/v2
  description: Supaglue API
tags:
- name: Salesforce
  description: Salesforce is a CRM Provider.
paths:
  /salesforce/contacts:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    get:
      operationId: listSalesforceContacts
      summary: List contacts
      description: '**NOTE**: To use the Data Listing API you need to use the Supaglue Managed Destination and select [Standard Objects](https://docs.supaglue.com/next/platform/objects/overview#configuration) to be synced.

        '
      tags:
      - Salesforce
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/modified_after'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/pagination'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/salesforce_contact'
                required:
                - pagination
                - records
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '499':
          $ref: '#/components/responses/remoteProviderError'
        '500':
          $ref: '#/components/responses/internalServerError'
        '501':
          $ref: '#/components/responses/notImplemented'
  /salesforce/accounts:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    get:
      operationId: listSalesforceAccounts
      summary: List accounts
      description: '**NOTE**: To use the Data Listing API you need to use the Supaglue Managed Destination and select [Standard Objects](https://docs.supaglue.com/next/platform/objects/overview#configuration) to be synced.

        '
      tags:
      - Salesforce
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/modified_after'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/pagination'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/salesforce_account'
                required:
                - pagination
                - records
        '400':
          $ref: '#/components/responses/badRequest'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/notFound'
        '499':
          $ref: '#/components/responses/remoteProviderError'
        '500':
          $ref: '#/components/responses/internalServerError'
        '501':
          $ref: '#/components/responses/notImplemented'
components:
  schemas:
    salesforce_contact:
      type: object
      properties:
        Id:
          type: string
          description: The unique identifier for this contact.
        Description:
          type:
          - string
          - 'null'
          description: A description of the contact.
        Email:
          type:
          - string
          - 'null'
          description: The contact's email address.
        AccountId:
          type:
          - string
          - 'null'
          description: ID of the account that's the parent of this contact. This is a relationship field.
        FirstName:
          type:
          - string
          - 'null'
          description: The contact's first name up to 40 characters.
        HomePhone:
          type:
          - string
          - 'null'
          description: The contact's home phone number.
        IsDeleted:
          type: boolean
          description: Indicates whether the object has been moved to the Recycle Bin (true) or not (false).
        LastActivityDate:
          type:
          - string
          - 'null'
          format: date-time
          example: '2022-02-27T00:00:00Z'
          description: The date of the last activity on a contact. The LastActivityDate is set to whichever is more recent -- the LastActivityDate of a related task or event or the LastModifiedDate of a contact's record.
        LastName:
          type:
          - string
          - 'null'
          description: The contact's last name. Maximum size is 80 characters.
        LeadSource:
          type:
          - string
          - 'null'
          description: The source of the lead.
        MailingCity:
          type:
          - string
          - 'null'
          description: The city of the mailing address of this contact.
        MailingCountry:
          type:
          - string
          - 'null'
          description: The country of the mailing address of this contact.
        MailingPostalCode:
          type:
          - string
          - 'null'
          description: The postal code of the mailing address of this contact.
        MailingState:
          type:
          - string
          - 'null'
          description: The state of the mailijng address of this contact.
        MailingStreet:
          type:
          - string
          - 'null'
          description: The street of the mailing address of this contact.
        MobilePhone:
          type:
          - string
          - 'null'
          description: The contact's mobile phone number.
        OwnerId:
          type:
          - string
          - 'null'
          description: ID of the user who owns this contact. This is a relationship field.
        Phone:
          type:
          - string
          - 'null'
          description: The contact's phone number.
        Fax:
          type:
          - string
          - 'null'
          description: The contact's fax number.
        Title:
          type:
          - string
          - 'null'
          description: The contact's title.
        CreatedDate:
          type: string
          format: date-time
          example: '2022-02-27T00:00:00Z'
          description: The date and time when this contact was created.
        SystemModstamp:
          type: string
          format: date-time
          example: '2022-02-27T00:00:00Z'
          description: The date and time when this contact was last modified.
        raw_data:
          type: object
          description: The raw data returned by the provider.
          additionalProperties: true
      required:
      - Id
      - Description
      - Email
      - AccountId
      - FirstName
      - HomePhone
      - IsDeleted
      - LastActivityDate
      - LastName
      - LeadSource
      - MailingCity
      - MailingCountry
      - MailingPostalCode
      - MailingState
      - MailingStreet
      - MobilePhone
      - OwnerId
      - Phone
      - Fax
      - Title
      - CreatedDate
      - SystemModstamp
      - raw_data
    errors:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
            description: A unique identifier for the instance of the error. Provide this to support when contacting Supaglue.
            example: 9366efb4-8fb1-4a28-bfb0-8d6f9cc6b5c5
          detail:
            type: string
            description: A detailed description of the error.
            example: 'Property values were not valid: [{"isValid":false,"message":"Property \"__about_us\" does not exist","error":"PROPERTY_DOESNT_EXIST","name":"__about_us","localizedErrorMessage":"Property \"__about_us\" does not exist"}]'
          problem_type:
            type: string
            description: The Supaglue error code associated with the error.
            example: MISSING_REQUIRED_FIELD
            deprecated: true
          title:
            type: string
            description: A brief description of the error. The schema and type of message will vary by Provider.
            example: 'Property values were not valid

              '
          code:
            type: string
            description: The Supaglue error code associated with the error.
            example: MISSING_REQUIRED_FIELD
          status:
            type: string
            description: The HTTP status code associated with the error.
            example: '400'
          meta:
            type: object
            description: Additional metadata about the error.
            properties:
              cause:
                type: object
                description: The cause of the error. Usually the underlying error from the remote Provider.
                example:
                  code: 400
                  body:
                    status: error
                    message: 'Property values were not valid: [{"isValid":false,"message":"Property \"__about_us\" does not exist","error":"PROPERTY_DOESNT_EXIST","name":"__about_us","localizedErrorMessage":"Property \"__about_us\" does not exist"}]'
                    correlationId: ac94252c-90b5-45d2-ad1d-9a9f7651d7d2
                    category: VALIDATION_ERROR
                  headers:
                    access-control-allow-credentials: 'false'
                    cf-cache-status: DYNAMIC
                    cf-ray: 8053d17b9dae9664-SJC
                    connection: close
                    content-length: '361'
                    content-type: application/json;charset=utf-8
                    date: Mon, 11 Sep 2023 23:51:22 GMT
                    nel: '{"success_fraction":0.01,"report_to":"cf-nel","max_age":604800}'
                    report-to: '{"endpoints":[{"url":"https://a.nel.cloudflare.com/report/v3?s=FgwuXObO%2Fz6ahUJKsxjDLaXTWjooJ8tB0w4%2B%2BKaulGStx0FGkn1PoJoOx2KrFMfihzNdfAqikq7CmgbdlmwKB8hkmp3eTb68qpg10LXFlRgiSqRhbWM7yYSfo8CXmPBc"}],"group":"cf-nel","max_age":604800}'
                    server: cloudflare
                    strict-transport-security: max-age=31536000; includeSubDomains; preload
                    vary: origin, Accept-Encoding
                    x-content-type-options: nosniff
                    x-envoy-upstream-service-time: '91'
                    x-evy-trace-listener: listener_https
                    x-evy-trace-route-configuration: listener_https/all
                    x-evy-trace-route-service-name: envoyset-translator
                    x-evy-trace-served-by-pod: iad02/hubapi-td/envoy-proxy-6c94986c56-9xsh2
                    x-evy-trace-virtual-host: all
                    x-hubspot-correlation-id: ac94252c-90b5-45d2-ad1d-9a9f7651d7d2
                    x-hubspot-ratelimit-interval-milliseconds: '10000'
                    x-hubspot-ratelimit-max: '100'
                    x-hubspot-ratelimit-remaining: '99'
                    x-hubspot-ratelimit-secondly: '10'
                    x-hubspot-ratelimit-secondly-remaining: '9'
                    x-request-id: ac94252c-90b5-45d2-ad1d-9a9f7651d7d2
                    x-trace: 2B1B4386362759B6A4C34802AD168B803DDC1BE770000000000000000000
              origin:
                type: string
                enum:
                - remote-provider
                - supaglue
                description: The origin of the error.
                example: remote-provider
              application_name:
                type: string
                description: The name of the application that generated the error.
                example: MyCompany Production
            required:
            - origin
            additionalProperties: true
        required:
        - id
        - detail
        - problem_type
        - title
        - code
        - status
        - meta
        example:
        - meta:
            cause:
              code: 400
              body:
                status: error
                message: 'Property values were not valid: [{"isValid":false,"message":"Property \"__about_us\" does not exist","error":"PROPERTY_DOESNT_EXIST","name":"__about_us","localizedErrorMessage":"Property \"__about_us\" does not exist"}]'
                correlationId: ac94252c-90b5-45d2-ad1d-9a9f7651d7d2
                category: VALIDATION_ERROR
              headers:
                access-control-allow-credentials: 'false'
                cf-cache-status: DYNAMIC
                cf-ray: 8053d17b9dae9664-SJC
                connection: close
                content-length: '361'
                content-type: application/json;charset=utf-8
                date: Mon, 11 Sep 2023 23:51:22 GMT
                nel: '{"success_fraction":0.01,"report_to":"cf-nel","max_age":604800}'
                report-to: '{"endpoints":[{"url":"https://a.nel.cloudflare.com/report/v3?s=FgwuXObO%2Fz6ahUJKsxjDLaXTWjooJ8tB0w4%2B%2BKaulGStx0FGkn1PoJoOx2KrFMfihzNdfAqikq7CmgbdlmwKB8hkmp3eTb68qpg10LXFlRgiSqRhbWM7yYSfo8CXmPBc"}],"group":"cf-nel","max_age":604800}'
                server: cloudflare
                strict-transport-security: max-age=31536000; includeSubDomains; preload
                vary: origin, Accept-Encoding
                x-content-type-options: nosniff
                x-envoy-upstream-service-time: '91'
                x-evy-trace-listener: listener_https
                x-evy-trace-route-configuration: listener_https/all
                x-evy-trace-route-service-name: envoyset-translator
                x-evy-trace-served-by-pod: iad02/hubapi-td/envoy-proxy-6c94986c56-9xsh2
                x-evy-trace-virtual-host: all
                x-hubspot-correlation-id: ac94252c-90b5-45d2-ad1d-9a9f7651d7d2
                x-hubspot-ratelimit-interval-milliseconds: '10000'
                x-hubspot-ratelimit-max: '100'
                x-hubspot-ratelimit-remaining: '99'
                x-hubspot-ratelimit-secondly: '10'
                x-hubspot-ratelimit-secondly-remaining: '9'
                x-request-id: ac94252c-90b5-45d2-ad1d-9a9f7651d7d2
                x-trace: 2B1B4386362759B6A4C34802AD168B803DDC1BE770000000000000000000
          detail: 'Property values were not valid: [{"isValid":false,"message":"Property \"__about_us\" does not exist","error":"PROPERTY_DOESNT_EXIST","name":"__about_us","localizedErrorMessage":"Property \"__about_us\" does not exist"}]'
          problem_type: MISSING_REQUIRED_FIELD
          title: 'Property values were not valid

            '
          code: MISSING_REQUIRED_FIELD
          status: '400'
          id: 9366efb4-8fb1-4a28-bfb0-8d6f9cc6b5c5
    salesforce_account:
      type: object
      properties:
        Id:
          type: string
          description: The unique identifier for this account.
        Description:
          type:
          - string
          - 'null'
          description: A description of the contact.
        BillingCity:
          type:
          - string
          - 'null'
          description: The city of the billing address of this contact.
        BillingCountry:
          type:
          - string
          - 'null'
          description: The country of the billing address of this contact.
        BillingPostalCode:
          type:
          - string
          - 'null'
          description: The postal code of the billing address of this contact.
        BillingState:
          type:
          - string
          - 'null'
          description: The state of the billing address of this contact.
        BillingStreet:
          type:
          - string
          - 'null'
          description: The street of the billing address of this contact.
        ShippingCity:
          type:
          - string
          - 'null'
          description: The city of the shipping address of this contact.
        ShippingCountry:
          type:
          - string
          - 'null'
          description: The country of the shipping address of this contact.
        ShippingPostalCode:
          type:
          - string
          - 'null'
          description: The postal code of the shipping address of this contact.
        ShippingState:
          type:
          - string
          - 'null'
          description: The state of the shipping address of this contact.
        ShippingStreet:
          type:
          - string
          - 'null'
          description: The street of the shipping address of this contact.
        Phone:
          type:
          - string
          - 'null'
          description: The account's phone number.
        Fax:
          type:
          - string
          - 'null'
          description: The account's fax number.
        Industry:
          type:
          - string
          - 'null'
          description: The type of industry in which the account operates.
        LastActivityDate:
          type:
          - string
          - 'null'
          example: '2022-02-27T00:00:00Z'
          format: date-time
          description: The date of the last activity on an account. The LastActivityDate is set to whichever is more recent -- the LastActivityDate of a related task or event or the LastModifiedDate of an account's record.
        Name:
          type:
          - string
          - 'null'
          description: The name of the account. Maximum size is 255 characters.
        NumberOfEmployees:
          type:
          - integer
          - 'null'
          description: The number of employees that work at the account.
        OwnerId:
          type:
          - string
          - 'null'
          description: ID of the user who owns this account. This is a relationship field.
        Website:
          type:
          - string
          - 'null'
          description: The account's website URL.
        IsDeleted:
          type: boolean
          description: Indicates whether the object has been moved to the Recycle Bin (true) or not (false).
        CreatedDate:
          type: string
          format: date-time
          example: '2022-02-27T00:00:00Z'
          description: The date and time when this contact was created.
        SystemModstamp:
          type: string
          format: date-time
          example: '2022-02-27T00:00:00Z'
          description: The date and time when this contact was last modified.
        raw_data:
          type: object
          description: The raw data returned by the provider.
          additionalProperties: true
      required:
      - Id
      - Description
      - OwnerId
      - BillingCity
      - BillingCountry
      - BillingPostalCode
      - BillingState
      - BillingStreet
      - ShippingCity
      - ShippingCountry
      - ShippingPostalCode
      - ShippingState
      - ShippingStreet
      - Phone
      - Fax
      - Industry
      - LastActivityDate
      - Name
      - NumberOfEmployees
      - Website
      - IsDeleted
      - CreatedDate
      - SystemModstamp
      - raw_data
    pagination:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
          example: eyJpZCI6IjQyNTc5ZjczLTg1MjQtNDU3MC05YjY3LWVjYmQ3MDJjNmIxNCIsInJldmVyc2UiOmZhbHNlfQ==
        previous:
          type:
          - string
          - 'null'
          example: eyJpZCI6IjBjZDhmYmZkLWU5NmQtNDEwZC05ZjQxLWIwMjU1YjdmNGI4NyIsInJldmVyc2UiOnRydWV9
        total_count:
          type: number
          example: 100
      required:
      - next
      - previous
  parameters:
    page_size:
      name: page_size
      in: query
      schema:
        type: string
      example: 123
      description: 'Number of results to return per page. (Max: 1000)'
    cursor:
      name: cursor
      in: query
      schema:
        type: string
      example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
      description: The pagination cursor value
    modified_after:
      name: modified_after
      in: query
      schema:
        type: string
        format: date-time
      description: If provided, will only return objects modified after this datetime. Datetime must be in ISO 8601 format and URI encoded.
      example: '2023-02-23T00:00:00Z'
    x-customer-id:
      name: x-customer-id
      in: header
      schema:
        type: string
      example: my-customer-1
      description: The customer ID that uniquely identifies the customer in your application
      required: true
  responses:
    remoteProviderError:
      description: Remote provider error
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
    notImplemented:
      description: Not implemented
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
    badRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
    notFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
    internalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                $ref: '#/components/schemas/errors'
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key to allow developers to access the API
