openapi: 3.2.0
info:
  version: 0.25.7
  title: Unified Ticketing API (Preview) Collections API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: https://supaglue.com
  description: ':::note

    This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

    :::

    #### Introduction


    Welcome to the Unified API (Ticketing) documentation. You can use this API to write to third-party providers.


    [View common schema for Ticketing](https://docs.supaglue.com/platform/common-schemas/ticketing)


    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)


    #### Base API URL

    ```

    https://api.supaglue.io/ticketing/v2

    ```

    '
servers:
- url: https://api.supaglue.io/ticketing/v2
  description: Supaglue API
tags:
- name: Collections
  description: 'The Collection object is used to represent collections of tickets. Collections may include other collections as sub collections.

    '
paths:
  /collections:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    - $ref: '#/components/parameters/x-provider-name'
    get:
      operationId: listCollections
      summary: List collections
      description: ':::note

        This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

        :::


        Returns a list of Collection objects.

        '
      tags:
      - Collections
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/modified_after'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: CollectionsData
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/pagination'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/collection'
                required:
                - pagination
                - records
  /collections/{collection_id}:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    - $ref: '#/components/parameters/x-provider-name'
    - name: collection_id
      in: path
      required: true
      schema:
        type: string
      example: 0258cbc6-6020-430a-848e-aafacbadf4ae
    get:
      operationId: getCollection
      summary: Get collection
      description: ':::note

        This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

        :::


        Returns a Collection object with the given id.

        '
      tags:
      - Collections
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/include_raw_data'
      responses:
        '200':
          description: CollectionData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection'
  /collections/{parent_id}/users:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    - $ref: '#/components/parameters/x-provider-name'
    - name: parent_id
      in: path
      required: true
      schema:
        type: string
      example: 0258cbc6-6020-430a-848e-aafacbadf4ae
    get:
      operationId: listCollectionUsers
      summary: List collection users
      description: ':::note

        This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

        :::


        Returns a list of User objects.

        '
      tags:
      - Collections
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/modified_after'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: CollectionUsersData
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/pagination'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/user'
                required:
                - pagination
                - records
components:
  schemas:
    user:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Hil Feig
        email_address:
          type: string
          example: help@supaglue.com
        is_active:
          type: boolean
          example: false
        teams:
          type: array
          items:
            type: string
            example: 681b0fd7-40e6-4b91-8e23-2814872090be
        avatar:
          type:
          - string
          - 'null'
          example: https://supaglue.io/user_profile_pic.png
      required:
      - name
      - email_address
      - is_active
    collection:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          example: Q1 Platform
        description:
          type:
          - string
          - 'null'
          example: For tracking all tasks related to Platform for Q1
        collection_type:
          type:
          - string
          - 'null'
          example: LIST
        parent_collection:
          type:
          - string
          - 'null'
          example: 681b0fd7-40e6-4b91-8e23-2814872090be
        access_level:
          type:
          - string
          - 'null'
          example: PUBLIC
      required:
      - name
    pagination:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
          example: eyJpZCI6IjQyNTc5ZjczLTg1MjQtNDU3MC05YjY3LWVjYmQ3MDJjNmIxNCIsInJldmVyc2UiOmZhbHNlfQ==
        previous:
          type:
          - string
          - 'null'
          example: eyJpZCI6IjBjZDhmYmZkLWU5NmQtNDEwZC05ZjQxLWIwMjU1YjdmNGI4NyIsInJldmVyc2UiOnRydWV9
        total_count:
          type: number
          example: 100
      required:
      - next
      - previous
  parameters:
    page_size:
      name: page_size
      in: query
      schema:
        type: string
      example: 123
      description: 'Number of results to return per page. (Max: 1000)'
    include_raw_data:
      name: include_raw_data
      in: query
      schema:
        type: boolean
      description: Whether to include raw data fetched from the 3rd party provider.
      example: true
    modified_after:
      name: modified_after
      in: query
      schema:
        type: string
        format: date-time
      description: If provided, will only return objects modified after this datetime. Datetime must be in ISO 8601 format and URI encoded.
      example: '2023-02-23T00:00:00Z'
    cursor:
      name: cursor
      in: query
      schema:
        type: string
      example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
      description: The pagination cursor value
    x-provider-name:
      name: x-provider-name
      in: header
      schema:
        type: string
      example: salesforce
      description: The provider name
      required: true
    x-customer-id:
      name: x-customer-id
      in: header
      schema:
        type: string
      example: my-customer-1
      description: The customer ID that uniquely identifies the customer in your application
      required: true
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key to allow developers to access the API
