openapi: 3.2.0
info:
  version: 0.25.7
  title: Unified Ticketing API (Preview) Tags API
  contact:
    name: Supaglue
    email: docs@supaglue.com
    url: https://supaglue.com
  description: ':::note

    This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

    :::

    #### Introduction


    Welcome to the Unified API (Ticketing) documentation. You can use this API to write to third-party providers.


    [View common schema for Ticketing](https://docs.supaglue.com/platform/common-schemas/ticketing)


    [![Run in Postman](https://run.pstmn.io/button.svg)](https://www.postman.com/supaglue/workspace/supaglue-public/overview)


    #### Base API URL

    ```

    https://api.supaglue.io/ticketing/v2

    ```

    '
servers:
- url: https://api.supaglue.io/ticketing/v2
  description: Supaglue API
tags:
- name: Tags
  description: 'The Tag object is used to represent a tag or label for a ticket.

    '
paths:
  /tags:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    - $ref: '#/components/parameters/x-provider-name'
    get:
      operationId: listTags
      summary: List tags
      description: ':::note

        This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

        :::


        Returns a list of Tag objects.

        '
      tags:
      - Tags
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/modified_after'
      - $ref: '#/components/parameters/page_size'
      - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: TagsData
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: '#/components/schemas/pagination'
                  records:
                    type: array
                    items:
                      $ref: '#/components/schemas/tag'
                required:
                - pagination
                - records
  /tags/{tag_id}:
    parameters:
    - $ref: '#/components/parameters/x-customer-id'
    - $ref: '#/components/parameters/x-provider-name'
    - name: tag_id
      in: path
      required: true
      schema:
        type: string
      example: 0258cbc6-6020-430a-848e-aafacbadf4ae
    get:
      operationId: getTag
      summary: Get tag
      description: ':::note

        This feature is only available in Preview to select customers on our Enterprise plan. [Contact us](mailto:team@supaglue.com) for more information.

        :::


        Returns a Tag object with the given id.

        '
      tags:
      - Tags
      security:
      - x-api-key: []
      parameters:
      - $ref: '#/components/parameters/include_raw_data'
      responses:
        '200':
          description: TagData
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag'
components:
  schemas:
    tag:
      type: object
      properties:
        name:
          type: string
          example: Ticketing API
      required:
      - name
    pagination:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
          example: eyJpZCI6IjQyNTc5ZjczLTg1MjQtNDU3MC05YjY3LWVjYmQ3MDJjNmIxNCIsInJldmVyc2UiOmZhbHNlfQ==
        previous:
          type:
          - string
          - 'null'
          example: eyJpZCI6IjBjZDhmYmZkLWU5NmQtNDEwZC05ZjQxLWIwMjU1YjdmNGI4NyIsInJldmVyc2UiOnRydWV9
        total_count:
          type: number
          example: 100
      required:
      - next
      - previous
  parameters:
    page_size:
      name: page_size
      in: query
      schema:
        type: string
      example: 123
      description: 'Number of results to return per page. (Max: 1000)'
    include_raw_data:
      name: include_raw_data
      in: query
      schema:
        type: boolean
      description: Whether to include raw data fetched from the 3rd party provider.
      example: true
    modified_after:
      name: modified_after
      in: query
      schema:
        type: string
        format: date-time
      description: If provided, will only return objects modified after this datetime. Datetime must be in ISO 8601 format and URI encoded.
      example: '2023-02-23T00:00:00Z'
    cursor:
      name: cursor
      in: query
      schema:
        type: string
      example: cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw
      description: The pagination cursor value
    x-provider-name:
      name: x-provider-name
      in: header
      schema:
        type: string
      example: salesforce
      description: The provider name
      required: true
    x-customer-id:
      name: x-customer-id
      in: header
      schema:
        type: string
      example: my-customer-1
      description: The customer ID that uniquely identifies the customer in your application
      required: true
  securitySchemes:
    x-api-key:
      type: apiKey
      name: x-api-key
      in: header
      description: API key to allow developers to access the API
